.clients {
	margin-bottom: 20px;
	font-size: 0;
}

.clients-left,
.clients-right {
	@include inline-block(top);
	font-size: 16px;
}

.clients-left {
	width: 40%;

	@include phones {
	    width: 100%;
	}
}

.clients-right {
	width: 60%;

	@include phones {
	    width: 100%;
	}
}

.clients__list {
	font-size: 0;
}

.clients__item {
	@include inline-block(top);
	width: 50%;
	margin-bottom: 12px;
    padding-left: 56px;
	font-size: 16px;

	@include tablets {
	    padding-left: 20px;
	}

	@include phones {
		padding-left: 0;

	    &:nth-child(2n) {
			padding-left: 8px;
		}

		&:nth-child(2n+1) {
			padding-right: 8px
		}
	}
}

.clients__link {
	display: inline-block;
	height: 50px;
	&:before {
		content: "";
		@include inline-block(middle);
		height: 100%;
		width: 0;
	}
}

.clients__img-pic {
	@include inline-block(middle);
	max-width: 100%;
}

.clients__img-pic--conar {
	margin-top: 22px;
}

.activity {
	margin-bottom: 20px;
}

.activity__list {
	font-size: 0;
}

.activity__item {
	@include inline-block(top);
	width: 20%;
	font-size: 16px;

	@include phones {
	    width: 100%;
	    margin-bottom: 16px;
	    font-size: 0;
	}
}

.activity__img {
	height: 80px;

	// &:before {
	// 	content: "";
	// 	@include inline-block(middle);
	// 	height: 100%;
	// 	width: 0;
	// }

	@include phones {
		@include inline-block(middle);
	    width: 40px;
	    height: auto;
	}
}

.activity__img-pic {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.activity__desc {
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;

	@include tablets {
	    font-size: 9px;
	}

	@include phones {
		@include inline-block(middle);
	    width: 72%;
	    padding-left: 24px;
	    text-align: left;
	    font-size: 11px;
	}
}

.tasks {
	font-size: 0;
}

.tasks__left,
.tasks__right {
	@include inline-block(top);
	width: 50%;

	@include phones {
		width: 100%;
	}
}

.tasks__left {
	padding-right: 10px;

	@include phones {
		padding-right: 0;
	}
}

.tasks__right {
	padding-left: 10px;

	@include phones {
		padding-left: 0;
	}
}

.tasks__item {
	margin-bottom: 33px;
}

.tasks__item-desc {
	position: relative;
	margin-left: 50px;
	text-transform: uppercase;
	font-size: 11px;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: -50px;
		margin-top: -18px;
		width: 36px;
		height: 36px;
	}

	&:after {
		position: absolute;
		top: 50%;
		left: -37px;
		margin-top: -10px;
		font-size: 16px;
		color: #fff;
	}
}

.tasks__item-desc--orange {
	text-transform: uppercase;
	font-size: 11px;
	
	&:before {
		background: $orange;
	}

	&:after {
		content: "1";
		left: -36px;
	}
}

.tasks__item-desc--green {
	text-transform: uppercase;
	font-size: 11px;
	
	&:before {
		background: $green;
	}

	&:after {
		content: "2";
	}
}

.tasks__item-desc--yellow {
	text-transform: uppercase;
	font-size: 11px;
	
	&:before {
		background: $yellow;
	}

	&:after {
		content: "3";
	}
}

.tasc__desc {
	font-size: 11px;
}

.tasks-logo__list {
	font-size: 0;
}

.tasks-logo__item {
	@include inline-block(top);
	width: 50%;
	font-size: 16px;

	&:nth-child(2n+1) {
		padding-right: 5px;
	}

	&:nth-child(2n) {
		padding-left: 5px;
	}
}

.tasks-logo__img {
	height: 63px;

	&:before {
		content: "";
		@include inline-block(middle);
		height: 100%;
		width: 0;
	}

	@include phones {
		text-align: center;
	}
}

.tasks-logo__img-pic {
	@include inline-block(middle);
	max-width: 100%;
}