.events {

}

.events__item {
	margin-bottom: 46px;
	color: #252525;

	&:last-child {
		margin-bottom: 0;
	}
}

.events__img,
.events__desc,
.events__emphasis {
	margin-bottom: 20px;
}

.events__img,
.events-inner__img {
	position: relative;
	height: 340px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #06141c;
}

.events__img {
	@include tablets {
		height: 35vw;
	}
}

.events__img-pic,
.events-inner__img-pic {
    position: absolute;
    top: 0;
    left: -9999px;
}

.events__desc {
	font-size: 12px;

	@include phones {
		margin-bottom: 12px;
	}
}

.events__link {
	position: relative;
	display: inline-block;
	font-size: 13px;
	color: #252525;

	&:after {
		content: "";
		position: absolute;
		top: 6px;
		right: 0-36px;
		width: 25px;
		height: 15px;
		background: url(../img/icons/link-arrow.png) no-repeat;
	}
}

.events__emphasis {
	padding: 26px 30px 26px 34px;
	font-style: italic;
	font-size: 13px;
	border-left: 4px solid rgba(189, 195, 199, 1);
	background: rgba(189, 195, 199, .2);

	@include phones {
		padding: 18px 22px 18px 26px;
		font-size: 11px;
	}
}

.events-inner__seminar {
	margin-bottom: 20px;
	@extend %clearfix;
}

.events-inner__seminar-date,
.events-inner__seminar-local {
	position: relative;
	@include inline-block(top);
	width: 180px;
	padding: 32px 0;
	text-transform: uppercase;
	font-size: 13px;
	border: 1px solid #252525;

	p {
		margin-left: 86px;
	}

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 22px;
		margin-top: -23px;
		width: 46px;
		height: 46px;
		background-size: contain;
	}
}

.events-inner__seminar-date {
	float: left;
	width: 29%;

	@include phones {
		width: 100%;
		margin-bottom: 20px;
	}

	&:before {
		background: url(../img/icons/pr_seminar_date.png) no-repeat
	}
}

.events-inner__seminar-local {
	float: right;
	width: 67%;

	@include phones {
		width: 100%;
	}

	&:before {
		background: url(../img/icons/pr_seminar_local.png) no-repeat
	}
}

.events-inner__big-wrapp {
	margin-bottom: 30px;
	@extend %clearfix;
}

.events-inner__img {
	float: right;
	width: 750px;
	height: 400px;

    @include laptop {
    	width: 100%;
		height: 35vw;
	}

	@include tablets {
    	width: 100%;
		height: 35vw;
	}
}

.events-inner__list {
	position: relative;
	padding: 36px 0;
	font-size: 0;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 750px;
		height: 1px;
		background: #252525;

		@include laptop {
	    	width: 100%;
		}
	}
}

.events-inner__list--padding-none {
	padding: 36px 0 0 0;
}

.events-inner__item {
	@include inline-block(top);
	width: 50%;
	font-size: 16px;

	&:nth-child(2n) {
		padding-left: 20px;
	}

	&:nth-child(2n+1) {
		padding-right: 20px;
	}
}

.events-inner__item--big {
	width: 70%;
}

.events-inner__item--small {
	width: 30%;
}

.events-inner__desc {
	margin-bottom: 20px;
	font-size: 13px;
}

.events-inner__img_logo {
	height: 50px;

	&:before {
		content: "";
	    display: inline-block;
	    vertical-align: middle;
	    height: 100%;
	    width: 0;
	}

}

.events-inner__img_logo-pic {
	display: inline-block;
    vertical-align: middle;
	max-width: 100%;
}

.events-inner__btns {
	a {
		margin-left: 0;
		text-align: center;
		border: 1px solid #252525;
		color: #252525;

		&:hover {
			color: #fff;
		}
	}
}