.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	text-transform: uppercase;
	color: #fff;
	z-index: 10;

	@include phones {
	    height: 100px;
	}
}

.footer--fixed {
	position: fixed;
    bottom: 0;
    width: 100%;
    background: url(../img/bg.jpg) bottom no-repeat;
    background-color: rgba(22, 37, 44, 0.7);
    background-size: cover;
}

// .footer--fixed {
//     background: rgba(14, 31, 39, .4);
// }

.footer__block {
	float: left;
	width: 33.3%;
	text-align: center;
	@extend %clearfix;

	@include phones {
	    width: 50%;
	}
}

.footer__block--copyright {

	@include phones {
	    position: absolute;
	    top: 37px;
	    left: 0;
	    right: 0;
	    margin: auto;
	}
}

.footer-order,
.footer-calculate {
	width: 120px;
	text-align: center;
	border: 1px solid #fff;
}

.copyright {
	line-height: 34px;
}

.footer-calculate {
	float: right;
}

.footer-order__link,
.footer-calculate__link {
	display: block;
	font-size: 10px;
	color: #fff;
}