.header {
	padding: 25px 0 25px;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header--fixed {
	position: fixed;
	width: 100%;
	background: #06141c;
}

.header__menu {
	float: left;
	width: 85%;
}

.nav {
	@extend %clearfix;
}

.logo {
	float: left;
	width: 30%;
}

.logo__link {
	display: inline-block;
}

.logo-pic {
	max-width: 100%;
}

.logo-text {
	font-size: 0;
}

.nav__list {
	float: left;
	width: 70%;
}

.nav__list {
	margin-top: 4px;
	font-size: 0;
}

.nav__item {
	@include inline-block(middle);
	margin-left: 22px;
	font-size: 12px;

	&:first-child {
		margin-left: 0;
	}
}

.nav__link {
	text-transform: uppercase;
	font-size: 11px;
	color: #fff;
}

.header__user {
	float: right;
	width: 15%;
}

.user {
	margin-top: 4px;
	text-align: right;
}

.user__phone-link {

	color: #fff;
}