.inner {
	padding-top: 54px;
	padding-bottom: 54px;
	background: #fff;

	@include phones {
		padding-top: 30px;
	    padding-bottom: 5px;
	}
}

.inner__title {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 18px;

	@include tablets {
	    font-size: 16px;
	}

	@include phones {
	    font-size: 12px;
	}
}

.inner__list {
	margin-left: 13px;
	margin-bottom: 30px;
}

.inner__item {
	position: relative;
	margin-bottom: 6px;
	font-size: 13px;

	&:before {
		content: "";
		position: absolute;
		top: 5px;
		left: -13px;
		width: 5px;
		height: 5px;
		background: $green;
	}
}

.inner__text {
	p {
		margin-bottom: 20px;
		text-transform: none;
		font-size: 13px;

		@include phones {
			margin-bottom: 18px;
		    font-size: 12px;
		}
	}

	span {
		font-size: 16px;

		@include phones {
		    font-size: 14px;
		}
	}
}

.inner__block {
	border-top: 1px solid #252525;
	border-bottom: 1px solid #252525;
}