/* -------------- common colors -------------- */

// $black: #333333;

$orange: #f38f1f;
$green: #5c9641;
$yellow: #fbe80b;

/* --------- compass --------- */

@import "compass";

/* --------- normalize --------- */

@import "_misc/normalize";

/* -------- fonts ---------*/

@import "_misc/_fonts";

/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- adjustment --------- */

@import "_misc/adjustment";

/* --------- plugins --------- */

@import "plugins/font-awesome";


/* --------- sections --------- */

@import "_sections/_popup";
@import "_sections/_header";
@import "_sections/_header-inner";
@import "_sections/_inner";
@import "_sections/_events";
@import "_sections/_competence";
@import "_sections/_compozit";
@import "_sections/_portfolio";
@import "_sections/_cube";
@import "_sections/_contacts";
@import "_sections/_footer";

/* --------- sections --------- */

@import "adaptive/media";




