extends ../main

block title
    | Компетенции
block header
    include ../_common/_header-competence
block content
    .inner
        .container-inner
            include ../_common/_competence
block footer 
    include ../_common/_footer-inner
