extends ../main

block title
    | Композитный сайт
block header
    include ../_common/_header-compozit
block content
    .inner
        .container-inner
            include ../_common/_compozit
block footer 
    include ../_common/_footer-inner
