extends ../main

block title
    | Мероприятия
block header
    include ../_common/_header-events-inner
block content
    .inner
        .container-inner
            include ../_common/_events-inner
block footer 
    include ../_common/_footer-inner
