extends ../main

block title
    | Портфолио
block header
    include ../_common/_header-portfolio-inner
block content
    .inner
        .container-inner
            include ../_common/_portfolio-inner
block footer 
    include ../_common/_footer-inner
