.competence
	.inner__text
		p С <span>2012</span> года, наши специалисты реализовали более <span>50</span> сайтов компаний, <br> более <span>10</span> корпоративных порталов, включая крупные федеральные и региональные веб-проекты.
	.clients
		.clients-left
			.inner__title
				| Наши клиенты
			.inner__text
				p За время работы, мы сотрудничали с крупными компаниями - лидерами в своих отрослях
		.clients-right
			ul.clients__list
				li.clients__item
					a.clients__link(href="#")
						img.clients__img-pic(src="/img/logo/logo-tatneft.png")
				li.clients__item
					a.clients__link(href="#")
						img.clients__img-pic.clients__img-pic--conar(src="/img/logo/logo-conar.png")
				li.clients__item
					a.clients__link(href="#")
						img.clients__img-pic(src="/img/logo/logo-ilm.png")
				li.clients__item
					a.clients__link(href="#")
						img.clients__img-pic(src="/img/logo/logo-asko.png")
	.activity
		.inner__title
			| Основные направления деятельности
		ul.activity__list
			li.activity__item
				.activity__img
					img.activity__img-pic(src="img/icons/icon_learn.png")
				.activity__desc
					| Обучение 1-С Битрикс
			li.activity__item
				.activity__img
					img.activity__img-pic(src="img/icons/icon_learn.png")
				.activity__desc
					| Разработка мобильных приложений
			li.activity__item
				.activity__img
					img.activity__img-pic(src="img/icons/icon_learn.png")
				.activity__desc
					| Разработка сайтов
			li.activity__item
				.activity__img
					img.activity__img-pic(src="img/icons/icon_learn.png")
				.activity__desc
					| Техническая поддержка
			li.activity__item
				.activity__img
					img.activity__img-pic(src="img/icons/icon_learn.png")
				.activity__desc
					| Корпоративные порталы
	.tasks
		.tasks__left
			.inner__title
				| Поможем решить задачи
			ul.tasks__list
				li.tasks__item
					.tasks__item-desc.tasks__item-desc--orange Выход на <br> новые рынки
				li.tasks__item
					.tasks__item-desc.tasks__item-desc--green Повышение <br> продаж
				li.tasks__item
					.tasks__item-desc.tasks__item-desc--yellow Улучшение взаимодействия <br> с партнерами и клиентами
			.inner__text
				p Сделаем работу корпоративного <br> портала, сайта или интернет-магазина <br> максимально эффективной.
		.tasks__right
			.inner__title
				| Золотой партнер 1-С Битрикс
			.inner__text
				p Компания PIXITE является участником программы качества внедрения «1С-Битрикс» - каждый наш проект проходит тестирование от «1С-Битрикс» на соответствие технологиям разработки и настройки системы.
			ul.tasks-logo__list
				li.tasks-logo__item
					.tasks-logo__img
						img.tasks-logo__img-pic(src="/img/logo/gold-partner.png")
				li.tasks-logo__item
					.tasks-logo__img
						img.tasks-logo__img-pic(src="/img/logo/quality.png")

	
