.compozit
	.compozit__block
		.compozit__left
			.inner__text
				p Новая уникальная технология может увеличить скорость работы вашего сайта до <span>100</span>раз.
				p Стоимость услуги <br> для типового сайта <span>15 000₽.</span>
				p Для сложных проектов определяется индивидуально.
			.compozit__btns
				a.compozit__btn(href="#") Хочу токой!
		.compozit__right
			.compozit__img
				img.compozit__img-pic(src="/img/compozit-desktop.png")
	.speed
		.inner__title
			| Увеличение скорости сайта в 100 раз!
		.inner__text
			p Модуль «Композитный сайт» входит в состав системы «1С-Битрикс: Управление сайтом» с версии 14.5.

			p Это новая уникальная технология может увеличить скорость работы вашего сайта до 100 раз. Современный пользователь не привык ждать и хочет мгновенно получить ответ на свой запрос. Как показывают иследования, если страница будет загружаться более 5 секунд, то каждый четвертый посетитель сайта просто закроет окно.

		.inner__title
			| Композитные сайты демонстрируют высокую скорость загрузки. 
		.inner__text
			p Страница загружается буквально за считанные доли секунды.

		ul.speed__list
			li.speed__item
				.speed__left
					.speed__img
						img.speed__img-pic(src="/img/speed-1.png")
				.speed__right.speed__padding
					.inner__title
						| Отклик сайта <br> в 100 раз быстрее!
					.inner__text
						p Композитный сайт загружается быстро, страница открывается за несколько миллисекунд.
			li.speed__item
				.speed__left.speed__padding
					.inner__title
						| Продажи в <br> интернет-магазине <br> увеличиваются!
					.inner__text
						p Композитный сайт значительно поднимает конверсию сайта.
				.speed__right
					.speed__img
						img.speed__img-pic(src="/img/speed-2.png")
			li.speed__item
				.speed__left
					.speed__img
						img.speed__img-pic(src="/img/speed-3.png")
				.speed__right.speed__padding
					.inner__title
						| Лучшее ранжирование <br> сайта в поиске!
					.inner__text
						p Поисковые системы отдают предпочтения сайтам, отвечающим на запрос максимально быстро, именно поэтому композитные сайты индексируются лучше и быстрее попадают в топы Google и Яндекс.
.conclusion
	.inner__title
		| Композитный сайт для Вашей компании.
	.inner__text
		p Любой ресурс, разработанный на платформе «1С-Битрикс: Управление сайтом», может стать композитным с помощью новой технологии.

		p Специалисты компании PIXITE помогут вам подключить технологию «Композитный сайт» и обогнать конкурентов!