.contacts
	div(id="map").contacts__map
	.contacts__map-overlay
	.contacts__location
		.contacts__title Контакты
		.contacts__point.point
			.point__address
				span.point__address-city Челябинск,
				span.point__address-street пр-кт Ленина, д.35, оф. 502
			.point__phones
				.point__phones-text Телефон:
				a(href="tel:+73512102121").point__phones-link
					span.point__phones-number +7 351 210 21 21
			.point__mail
				span E-mail:
				a(href="mailto:bitrix@pixite.ru").point__mail-link bitrix@pixite.ru
			a(href="#").point__link-map Посмотреть карту



//- <div class="contacts">
//- 	<div id="map" class="contacts__map"></div>
//- 	<div class="contacts__location">
//- 		<div class="contacts__title">Контакты</div>
//- 		<div class="contacts__point point">
//- 			<div class="point__address">
//- 				<span class="point__address-city">Челябинск,</span>
//- 				<span class="point__address-street">пр-кт Ленина, д.35, оф. 502</span>
//- 			</div>
//- 			<div class="point__phones">
//- 				<div class="point__phones-text">Телефон:</div>
//- 				<!-- <div class="point__phones-number">+7 351 210 21 21</div> -->
//- 				<a href="tel:+73512102121" class="point__phones-link">
//- 					<span class="point__phones-number">+7 351 210 21 21</span>
//- 				</a>
//- 			</div>
//- 			<div class="point__mail">
//- 				<span>E-mail:</span>
//- 				<a class="point__mail-link" href="mailto:bitrix@pixite.ru">bitrix@pixite.ru</a>
//- 			</div>
//- 			<div class="">
//- 				<a href="#" class="point__link-map">Посмотреть карту</a>
//- 			</div>
//- 		</div>
//- 	</div>	
//- </div>