.contacts
	div(id="map").contacts__map
	.contacts__link-btns
		a.contacts__link-contacts(href="#") Контакты
	.contacts__map-overlay
	.contacts__location
		.contacts__title Контакты
		.contacts__point.point
			.point__address
				span.point__address-city Челябинск,
				span.point__address-street пр-кт Ленина, д.35, оф. 502
			.point__phones
				.point__phones-text Телефон:
				a.point__phones-link(href="tel:+73512102121")
					span.point__phones-number +7 351 210 21 21
			.point__mail
				span E-mail:
				a.point__mail-link(href="mailto:bitrix@pixite.ru") bitrix@pixite.ru
			a.point__link-map(href="#") Посмотреть карту

