.cube
	.cube__list
		.cube__item
			.cube__box.cube__box--mobile
				.cube__box-desc
					| Разработка мобильных приложений
			.cube__desc.cube__desc--mobile
				p Наша компания занимается разработкой нативных мобильных приложений для Android и IOS, а так же мобильных приложений 1С-Битрикс.
		.cube__item
			.cube__box.cube__box--corporate
				.cube__box-desc
					| Корпоративные порталы
			.cube__desc.cube__desc--corporate
				p Наша компания занимается разработкой нативных мобильных приложений для Android и IOS, а так же мобильных приложений 1С-Битрикс. 
		.cube__item
			.cube__box.cube__box--support
				.cube__box-desc
					| Техническая поддержка
			.cube__desc.cube__desc--support
				p Наша компания занимается разработкой нативных мобильных приложений для Android и IOS, а так же мобильных приложений 1С-Битрикс. 
		.cube__item
			.cube__box.cube__box--site
				.cube__box-desc
					| Разработка сайтов
			.cube__desc.cube__desc--site
				p Наша компания занимается разработкой нативных мобильных приложений для Android и IOS, а так же мобильных приложений 1С-Битрикс. 
		.cube__item
			.cube__box.cube__box--learning
				.cube__box-desc
					| Обучение 1С-Битрикс
			.cube__desc.cube__desc--learning
				p Наша компания занимается разработкой нативных мобильных приложений для Android и IOS, а так же мобильных приложений 1С-Битрикс. 
						