.events-inner
	.inner__title 
		| Как увеличить доходность интернет-магазина, повысить конверсию сайта и грамотно организовать работу сотрудников компании? 
	.events__emphasis 
		| Только полезная информация и практические рекомендации опытных ИТ-специалистов на бесплатном семинаре «Максимум возможностей для вашего бизнеса в интернете».
	.inner__title
		| Всего за 4 часа вы узнаете:
	ul.inner__list
		li.inner__item
			p Тенденции разработки интернет-ресурсов;
		li.inner__item
			p Как увеличить выручку интернет-магазина; 
		li.inner__item
			p Как продавать в режиме 24х7;
		li.inner__item
			p Как добиться того, чтобы все ваши поручения исполнялись четко и в срок;
		li.inner__item
			p Как выстроить эффективную систему коммуникаций внутри компании;
		li.inner__item
			p Какие мобильные приложения подходят для разных сфер бизнеса.
	.inner__title
		| Об этом и многом другом вы узнаете на семинаре, который пройдет
	.events-inner__seminar
		.events-inner__seminar-date
			p 1 Декабря
			p 2017 года
		.events-inner__seminar-local
			p Конференц-зале "Панорама"
			p АКЦ "Челябинск-СИТИ", ул.Кирова, д.159
	.events__emphasis
		| Практические примеры использования современных интернет-технологий и истории успеха состоявшихся интернет-проектов сэкономят ваше время и деньги на самостоятельное изучение темы и предотвратят возможные ошибки.
	.inner__title
		| Мероприятие будет полезным и интересным
	ul.inner__list
		li.inner__item
			p Тенденции разработки интернет-ресурсов;
		li.inner__item
			p Как увеличить выручку интернет-магазина; 
		li.inner__item
			p Как продавать в режиме 24х7;
		li.inner__item
			p Как добиться того, чтобы все ваши поручения исполнялись четко и в срок;
		li.inner__item
			p Как выстроить эффективную систему коммуникаций внутри компании;
		li.inner__item
			p Какие мобильные приложения подходят для разных сфер бизнеса.
	.events-inner__big-wrapp
		.events-inner__img(style="background-image: url(/img/events-img.jpg);")
			img.events-inner__img-pic(src="/img/events-img.jpg")
	.inner__title
		| Зачем тратить десятки тысяч рублей на обучение, если ценные знания и подарки можно получить бесплатно?
	.inner__text
		p На семинаре выступят лучшие специалисты, которые разрабатывали сайт для страховой компании “ЮЖУРАЛ-АСКО”, строительной компании «ИКАР» и других предприятий. 

		p Вам расскажут о реальных проектах и поделятся опытом представители компаний, уже имеющие интернет проекты. 

		p На семинаре вас ждут подарки от организаторов: толстовки, зонты, ежедневники и многое другое.

		p Только для участников семинара скидка 10% на разработку сайта.
	ul.events-inner__list
		li.events-inner__item
			.events-inner__desc
				| Мероприятие пройдет в рамках <br> "Федеральной программы 1С-Битрикс».
			.events-inner__img_logo
				img.events-inner__img_logo-pic(src="/img/logo-bitrix.png")
		li.events-inner__item
			.events-inner__desc
				| В Челябинске организатором Федерального семинара выступит компания PIXITE.
			.events-inner__img_logo
				img.events-inner__img_logo-pic(src="/img/logo-black.png")
	ul.events-inner__list.events-inner__list--padding-none
		li.events-inner__item
			.inner__title
				| Вас ждёт много интересной <br> и полезной информации. Приходите! 
			.events-inner__desc
				| Участие в семинаре — бесплатное, но предварительно нужно пройти регистрацию
			.events-inner__btns
				a.header-inner__btn-registration.btn-black(href="#") Регистрация
		li.events-inner__item
			.inner__title
				| Cпешите! <br> количество мест ограниченно! 
			.events-inner__desc
				| Дополнительная информация <br> по телефону +7 (963) 077-23-40  
			.events-inner__btns
				a.header-inner__btn-plan.btn-black(href="#") Программа семинара

