.events
	ul.events__list
		li.events__item
			.events__img(style="background-image: url(/img/events-img.jpg);")
				img.events__img-pic(src="/img/events-img.jpg")
			.events__title.inner__title Cеминар «Максимум возможностей для вашего бизнеса в интернете»
			.events__desc
				p Как увеличить доходность интернет-магазина, повысить конверсию сайта и грамотно организовать работу сотрудников компании? Только полезная информация и практические рекомендации опытных ИТ-специалистов на бесплатном семинаре «Максимум возможностей для вашего бизнеса в интернете».
			.events__btns
				a.events__link(href="#") Читать далее
		li.events__item
			.events__img(style="background-image: url(/img/events-img.jpg);")
				img.events__img-pic(src="/img/events-img.jpg")
			.events__title.inner__title Cеминар «Максимум возможностей для вашего бизнеса в интернете»
			.events__desc
				p Как увеличить доходность интернет-магазина, повысить конверсию сайта и грамотно организовать работу сотрудников компании? Только полезная информация и практические рекомендации опытных ИТ-специалистов на бесплатном семинаре «Максимум возможностей для вашего бизнеса в интернете».
			.events__btns
				a.events__link(href="#") Читать далее
		li.events__item
			.events__img(style="background-image: url(/img/events-img.jpg);")
				img.events__img-pic(src="/img/events-img.jpg")
			.events__title.inner__title Cеминар «Максимум возможностей для вашего бизнеса в интернете»
			.events__desc
				p Как увеличить доходность интернет-магазина, повысить конверсию сайта и грамотно организовать работу сотрудников компании? Только полезная информация и практические рекомендации опытных ИТ-специалистов на бесплатном семинаре «Максимум возможностей для вашего бизнеса в интернете».
			.events__btns
				a.events__link(href="#") Читать далее
