footer.footer.footer--fixed
	.container
		.footer__block
			.footer-order
				a(href="#").footer-order__link
					| Заказать оценку проекта
		.footer__block
			.copyright
				| @ 2016 Pixite
		.footer__block
			.footer-calculate
				a(href="#").footer-calculate__link
					| Рассчитать стоимость