footer.footer.footer-inner
	.container
		.footer__block
			.footer__order.footer-inner__order
				a(href="#").footer__order-link
					| Заказать оценку проекта
		.footer__block.footer__block--copyright
			.copyright
				| @ 2016 Pixite
		.footer__block
			.footer__calculate.footer-inner__calculate
				a(href="#").footer__calculate-link
					| Рассчитать стоимость