footer.footer
	.container
		.footer__block
			.footer__order
				a(href="#").footer__order-link
					| Заказать оценку проекта
		.footer__block.footer__block--copyright
			.copyright
				| @ 2016 Pixite
		.footer__block
			.footer__calculate
				a(href="#").footer__calculate-link
					| Рассчитать стоимость