header.header.header--fixed
	.container
		.header__menu
			.logo
				a(href="/").logo__link
					img(src="./img/logo.png").logo-pic
					span.logo-text
						| Веб-студия Пиксайт
			.nav__trigger
				a(href="#mmenu").nav__trigger-link
					img(src="./img/icons/hamburger.svg").nav__trigger-pic
			.nav(id="mmenu")
				ul.nav__list
					li.nav__item
						a(href="competence.html").nav__link
							| Компетенции
					li.nav__item
						a(href="portfolio.html").nav__link
							| Портфолио
					li.nav__item
						a(href="#").nav__link
							| Услуги
						ul.dropdown__list
							li.dropdown__item
								a(href="#").dropdown__link
									| Разработка сайтов
								ul.dropdown-sub__list
									li.dropdown-sub__item
										a(href="#").dropdown-sub__link
											| Корпоративный сайт
									li.dropdown-sub__item
										a(href="#").dropdown-sub__link
											| Сайт для государственной организации
									li.dropdown-sub__item
										a(href="#").dropdown-sub__link
											| Сайт для медицинской организации
									li.dropdown-sub__item
										a(href="#").dropdown-sub__link
											| Интеграция с 1С
									li.dropdown-sub__item
										a(href="compozit.html").dropdown-sub__link
											| Ускорение сайтов
									li.dropdown-sub__item
										a(href="#").dropdown-sub__link
											| Адаптивный сайт
							li.dropdown__item
								a(href="#").dropdown__link
									| Разработка корпоративных порталов
							li.dropdown__item
								a(href="#").dropdown__link
									| Разработка мобильных приложений
							li.dropdown__item
								a(href="#").dropdown__link
									| Техническая поддержка
					li.nav__item
						a(href="events.html").nav__link
							| Мероприятия
					li.nav__item
						a(href="events.html").nav__link
							| Интернет-магазин
					li.nav__item
						a(href="contacts.html").nav__link
							| Контакты
		.header__user
			.user
				.user__item
					a(href="tel:+73512102121").user__phone-link
						span.user__phone-text
							| +7 351 210 21 21
