.header-portfolio
	include _header
	.header-portfolio__bottom
		nav.nav-portfolio__bottom
			ul.nav-portfolio__list
				li.nav-portfolio__item.current
					a.nav-portfolio__link(href="#")
						| Все
				li.nav-portfolio__item
					a.nav-portfolio__link(href="#")
						| Корпоративные сайты
				li.nav-portfolio__item
					a.nav-portfolio__link(href="#")
						| Интернет-магазины
				li.nav-portfolio__item
					a.nav-portfolio__link(href="#")
						| Корпоративные порталы Б24
				li.nav-portfolio__item
					a.nav-portfolio__link(href="#")
						| Мобильные приложения



