.header-inner.header-inner--competence
	include _header
	.header-inner__wrapper
		.header-inner__title
			.header-inner__title-big Мы компания по реализации <br> высоконагруженных <br> web-проектов.



