.header-inner.header-inner--events-inner
	include _header
	.header-inner__wrapper
		.header-inner__title
			.header-inner__title-small 1 декабря 2016 года компания PIXITE выступает организатором семинара
			.header-inner__title-big «Максимум возможностей <br> для вашего бизнеса в интернете»
			.header-inner__title-small В рамках «Федеральной программы 1С-Битрикс».
			.header-inner__btns
				a.header-inner__btn-registration(href="#") Регистрация
				a.header-inner__btn-plan(href="#") Программа семинара



