.header-inner.header-inner--events
	include _header
	.header-inner__wrapper
		.header-inner__title
			.header-inner__title-big.header-inner__title-big--border Мероприятия
			.header-inner__title-small События, новости, проекты.



