.header-portfolio-inner
	include _header
	.header-inner__wrapper
		.header-inner__title.align-left
			.container-inner
				.header-inner__title-big.margin-bottom Союз-Игрушка
				.header-inner__title-left
					.inner__title Заказчик
					.inner__text
						p Оптовый интернет-магазин крупнейшей компании в Уральском округе.
					.inner__title Задача
					.inner__text.margin-bottom-none
						p Новый дизайн с учетом современных тенденций в дизайне и разработке интернет проектов.
				.header-inner__title-right
					.inner__title Работы
					ul.portfolio__list
						li.portfolio__item
							p Редизайн сайта на платформе 1С-Битрикс.
						li.portfolio__item
							p Внедрение дополнительного функционала.
						li.portfolio__item
							p Интеграция с 1С, адаптивная верстка
						li.portfolio__item
							p Редизайн сайта на платформе 1С-Битрикс.
						li.portfolio__item
							p Внедрение дополнительного функционала.
						li.portfolio__item
							p Интеграция с 1С, адаптивная верстка
	.triangel
	.macbook
		.slider
			ul.slider__list
				li.slider__item
					.slider__img(style="background-image: url(/img/slider/slider_1.jpg);")
						img.slider__img-pic(src="./img/slider/slider_1.jpg")
				li.slider__item
					.slider__img(style="background-image: url(/img/slider/slider_1.jpg);")
						img.slider__img-pic(src="./img/slider/slider_1.jpg")
				li.slider__item
					.slider__img(style="background-image: url(/img/slider/slider_1.jpg);")
						img.slider__img-pic(src="./img/slider/slider_1.jpg")
				li.slider__item
					.slider__img(style="background-image: url(/img/slider/slider_1.jpg);")
						img.slider__img-pic(src="./img/slider/slider_1.jpg")