.header-inner.header-inner--compozit
	include _header
	.header-inner__wrapper
		.header-inner__title
			.header-inner__title-big Композитный сайт
			.header-inner__title-small Уникальная технология производства сайтов!



