header.header.header--fixed
	.container
		.header__menu
			.nav
				.logo
					a(href="index.html").logo__link
						img(src="./img/logo.png").logo-pic
						span.logo-text
							| Веб-студия Пиксайт
				.nav__list
					.nav__item
						a(href="#").nav__link
							| Компетенции
					.nav__item
						a(href="#").nav__link
							| Портфолио
					.nav__item
						a(href="#").nav__link
							| Услуги
					.nav__item
						a(href="#").nav__link
							| Мероприятия
					.nav__item
						a(href="#").nav__link
							| Интернет - магазин
					.nav__item
						a(href="#").nav__link
							| Контакты
		.header__user
			.user
				.user__item
					a(href="tel:+73512102121").user__phone-link
						span.user__phone-text
							| +7 351 210 21 21
