.portfolio-inner
	.inner__title 
		| Высоконагруженный интернет-ресурс
	.inner__text
		p Интернет-магазин содержит 9 каталогов, более 30 тысяч позиций товаров, количество пользователей зарегистрированных на сайте превысило отметку 5 тыс.
	.inner__title 
		| Успешно работает на платформе 1С-Битрикс
	.inner__text
		p Интернет-магазин интегрирован с 1С в части каталога и заказов.

		p Сайт имеет индивидуальный функционал в личном кабинете пользователей, а именно: каждый пользователь имеет прикрепленного персонального менеджера, который назначается в системе 1С и выгружается на сайт, внедрен механизм договоров в личном кабинете пользователя.

		p Реализована возможность заключать договора онлайн, и в зависимотси от выбранного договора отображается цена товаров и условия доставки.

	.compozit__btns
		a.compozit__btn(href="#") Хочу токой же!