
@font-face {
    font-family: 'HelveticaNeue-CondensedBold';
    src: url('../fonts/HelveticaNeue-CondensedBold.eot');
    src: url('../fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
         url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff'),
         url('../fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-CondensedBold.svg#bernier_shaderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica_bold-webfont.eot');
    src: url('../fonts/helvetica_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica_bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica_bold-webfont.woff') format('woff'),
         url('../fonts/helvetica_bold-webfont.ttf') format('truetype'),
         url('../fonts/helvetica_bold-webfont.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui__textlight';
    src: url('../fonts/9485-webfont.eot');
    src: url('../fonts/9485-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/9485-webfont.woff2') format('woff2'),
         url('../fonts/9485-webfont.woff') format('woff'),
         url('../fonts/9485-webfont.ttf') format('truetype'),
         url('../fonts/9485-webfont.svg#sf_ui__textlight') format('svg');
    font-weight: normal;
    font-style: normal;

}